click==6.7
Flask==0.12.2
Flask-Script==2.0.5
Flask-SocketIO==2.4
gunicorn==19.1.1
itsdangerous==0.24
Jinja2==2.9.6
MarkupSafe==1.0
python-engineio==1.7.0
python-socketio==1.7.7
redis==2.10.3
six==1.10.0
tailer==0.4.1
Werkzeug==0.12.2
